body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
}
.game{
	background-color: brown;
	border: 1px solid black;
	width: 800px;
	height: 300px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	/* margin-right: 10px; */
}
#instructions {
	color: #666;
}
input{
	margin-left: 10px;
}
#guess {
	width: 50%;
	height: 30px;
	font-size: 24px;
	padding: 10px;
	border: 1px solid #ccc;
}

#submit {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#result {
color: #ebe9e9;
	font-size: 24px;
	border: 1px solid black;
	box-shadow: rgb(38, 37, 37);
	border-radius: 10px;
	justify-content: baseline;
	align-items: center;
	
}